@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* 
:root {
  --background-color: #ffffff; 
  --text-color: #333333; 
}

.dark-theme {
  --background-color: #333333; 
  --text-color: #ffffff; 
} */
